***1. Alur Kondisi***

In [1]:
a = 1
b = 3
c = [1,2]
d = []

***1.1. Kondisi***

In [2]:
print(a == b)
print(a != b)
print(a < b)
print(a <= b)
print(a > b)
print(a >= b)

False
True
True
True
False
False

In [3]:
print(a in c)

True

In [4]:
print(isinstance(a, int))

True

In [5]:
print(d is False)

False

In [6]:
print(len(d) == 0)

True

***1.2. Multiple Kondisi***

In [7]:
print(a == b and a in c)
print(a == b or a in c)

False
True

***1.3. Skema If, Elif, & Else***

***1.3.1. Skema If, Elif, & Else***

In [8]:
a = 1
if a > 2:
    print('a lebih besar dari 2')

In [9]:
a = 2
b = 3
if a > b:
    print('a lebih besar dari b')
else:
    print('a lebih kecil dari b')

a lebih kecil dari b

In [10]:
a = -2
if a > 0:
    print(f'a adalah angka positif: nilai  a adalah {a}')
elif a == 0:
    print('a adalah 0')
else:
    print(f'a adalah angka negatif: nilai a adalah {a}')

a adalah angka negatif: nilai a adalah -2

***1.3.2 Skema If, Elif & Else dengan Operator Logika AND & OR***

In [11]:
nama = 'Lukman'
umur = 24

In [12]:
if nama == 'Lukman' and umur == 24:
    print('nama dan umur cocok!')
elif nama == 'Lukman' or umur == 26:
    print('nama atau umur cocok')
else:
    print('nama & umur tidak cocok')

nama dan umur cocok!

In [13]:
if nama == 'Lukman' and umur == 26:
    print('nama dan umur cocok!')
elif nama == 'Lukman' and umur != 26:
    print('nama cocok, tapi umur tidak cocok')
elif nama != 'Lukman' and umur == 26:
    print('nama tidak cocok, tapi umur cocok')
else:
    print('nama & umur tidak cocok')

nama cocok, tapi umur tidak cocok

***1.3.3 Nested If, Elif, & Else Statement***

In [14]:
a = 9.3
if isinstance(a, int):
    if a > 0:
        if a >= 5:
            print(f'a adalah angka positif lebih dari sama dengan 5, Nilai a adalah {a}')
        else:
            print(f'a adalah angka positif kurang dari 5, Nilai a adalah {a}')
    elif a == 0:
        print('a adlah 0')
    else:
        print(f'a adalah angka negatif, Nilai a adalah {a}')
elif isinstance(a, str):
    print('a adalah string')
else:
    print('a adalah selain string dan int')

a adalah selain string dan int

***2. Looping***

In [15]:
list_buah = ['apel', 'anggur', 'belimbing', 'ceri', 'duren']

***2.1. For Loop***

***2.1.1. For Loop By Value***

In [16]:
for value in list_buah:
    print(value)

apel
anggur
belimbing
ceri
duren

***2.1.2. For Loop by Index***

range

In [17]:
var_range = range(8)

print(type(var_range))
print(var_range)

<class 'range'>
range(0, 8)

In [18]:
print(list(var_range))

[0, 1, 2, 3, 4, 5, 6, 7]

In [19]:
for idx in range(8):
    print(idx)

0
1
2
3
4
5
6
7

In [20]:
print(len(list_buah))

5

In [21]:
for idx in range(len(list_buah)):
    print(idx)

0
1
2
3
4

In [22]:
print(list_buah[0])
print(list_buah[1])
print(list_buah[2])
print(list_buah[3])

apel
anggur
belimbing
ceri

In [23]:
for idx in range(len(list_buah)):
    print(idx, list_buah[idx])

0 apel
1 anggur
2 belimbing
3 ceri
4 duren

In [24]:
for idx in range(len(list_buah)):
    print(idx)
    if idx == 3:
        if list_buah[3] == 'belimbing':
            print('index ke-3 adalah belimbing')
        else:
            print('index ke-3 BUKAN belimbing')

0
1
2
3
index ke-3 BUKAN belimbing
4

***2.1.3. For Loop by Value & Index***

In [25]:
for idx, value in enumerate(list_buah):
    print(idx)
    if idx == 3:
        if value == 'belimbing':
            print('index ke-3 adalah belimbing')
        else:
            print('index ke-3 BUKAN belimbing')

0
1
2
3
index ke-3 BUKAN belimbing
4

In [26]:
for idx, value in enumerate(list_buah, start=5):
    print(idx, value)

5 apel
6 anggur
7 belimbing
8 ceri
9 duren

***2.2. While Loop***

***2.2.1. Simple While Loop***

In [27]:
a = 0
b = 5

while a <= b:
    print(a)
    a = a + 1

0
1
2
3
4
5

***2.2.2. While Loop With Else***

In [28]:
a = 0
b = 5

while a <= b:
    print(a)
    a = a + 1
else:
    print('a sekarang sudah lebih dari b')

0
1
2
3
4
5
a sekarang sudah lebih dari b

In [29]:
is_found = True
idx = 0

while is_found is True:
    print(is_found)
    idx += 1
    
    if idx == 3:
        is_found = False

True
True
True

***2.3. Pass, Break, 7 Continue Statements***

***2.3.1. Pass Statements***

In [30]:
for idx in range(5):
    if idx == 3:
        pass
    print(f'index = {idx}')

index = 0
index = 1
index = 2
index = 3
index = 4

In [31]:
for idx in range(len(list_buah)):
    if idx == 3:
        pass
    print(f'index = {idx}')

index = 0
index = 1
index = 2
index = 3
index = 4

In [32]:
a = 0
b = 5

while a <= b:
    print(f'a: {a}')
    a = a + 1
    
    if a == 3:
        break

a: 0
a: 1
a: 2

In [33]:
idx = 0

while True:
    print(True)
    idx += 1
    
    if idx == 3:
        break

True
True
True

***2.3.3. Continue Statement***

In [34]:
for idx in range(5):
    if idx == 3:
        continue
    print(f'index = {idx}')

index = 0
index = 1
index = 2
index = 4

In [35]:
list_of_dicts = [
    {'nama': 'agi', 'umur': 20},
    {'nama': 'budi', 'umur': 30},
    {'nama': 'anton', 'umur': 40},
]

In [36]:
for list_of_dict in list_of_dicts:
    print(list_of_dict)

{'nama': 'agi', 'umur': 20}
{'nama': 'budi', 'umur': 30}
{'nama': 'anton', 'umur': 40}

In [37]:
for idx, val in enumerate(list_of_dicts):
    print(idx, val['umur'])

0 20
1 30
2 40

In [38]:
for list_of_dict in list_of_dicts:
    for value in list_of_dict.items():
        print(value)

('nama', 'agi')
('umur', 20)
('nama', 'budi')
('umur', 30)
('nama', 'anton')
('umur', 40)

In [39]:
dict_user = {
    'nama': 'agi',
    'umur': 20,
    'sudah_menikah': False,
    'alamat': 'jl. selatan no 99'
}

In [40]:
for value in dict_user.items():
    print(value)

('nama', 'agi')
('umur', 20)
('sudah_menikah', False)
('alamat', 'jl. selatan no 99')

**3. Latihan 1**

In [41]:
list_nama = ['agus', 'sari', 'putri', 'bambang']
list_nilai = [83, 85, 68, 65]

zipped = zip(list_nama, list_nilai)

print(list(zipped))

[('agus', 83), ('sari', 85), ('putri', 68), ('bambang', 65)]

In [42]:
zipped = zip(list_nama, list_nilai)

list_of_dict = []

for data in list(zipped):
    list_of_dict.append({
        'nama': data[0],
        'nilai': data[1],
    })

print(list_of_dict)

[{'nama': 'agus', 'nilai': 83}, {'nama': 'sari', 'nilai': 85}, {'nama': 'putri', 'nilai': 68}, {'nama': 'bambang', 'nilai': 65}]

In [48]:
list_lulus = []
list_remedial = []

for j in range(len(list_of_dict)):
    if(list_of_dict[j]['nilai'] >= 75):
        list_lulus.append(list_of_dict[j]['nama'])
        print(f'siswa bernama {list_of_dict[j]["nama"]} dengan nilai mtk: {list_of_dict[j]["nilai"]}, dinyatakan LULUS!')
    else:
        list_remedial.append(list_of_dict[j]['nama'])
        print(f'siswa bernama {list_of_dict[j]["nama"]} dengan nilai mtk: {list_of_dict[j]["nilai"]}, dinyatakan TIDAK lulus!')

siswa bernama agus dengan nilai mtk: 83, dinyatakan LULUS!
siswa bernama sari dengan nilai mtk: 85, dinyatakan LULUS!
siswa bernama putri dengan nilai mtk: 68, dinyatakan TIDAK lulus!
siswa bernama bambang dengan nilai mtk: 65, dinyatakan TIDAK lulus!

In [51]:
print(list_lulus)
print(list_remedial)

['agus', 'sari']
['putri', 'bambang']